*{
    color: #0d48be ;
    font-family:  'Franklin Gothic Medium';
}

body{
    margin: 0px;
    height: 100vh;  
    background-image: url("https://github.com/EL-N-A-G-R/MY-CV/blob/main/background%20photo.jpeg?raw=true");
    background-size: cover;
}

.container{
    width: 90%;
    max-width: 870px;
    margin: 30PX auto;
    background-image: url("https://github.com/EL-N-A-G-R/MY-CV/blob/main/backgroundcut.jpeg?raw=true");
    padding: 20PX;
    border-radius: 40px;
    text-align: center;
    border-style: outset;
    
}

header img{
    width: 200px;
    height: 230px;
clip-path: circle(50% at 50%);
border-radius: 50%;


}

header>h1{border-color:gold;
    border-style:outset;
    
}
 header{  
    border-radius: 30px 60px;
    width: 80%;
    margin: 10px auto;
    border-style: outset ;
    overflow: auto;
    
 }






